.video.main {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid lightgrey;
  box-shadow: #64646f33 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 250ms;
}
.video.side {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: #64646f33 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 250ms;
}
.video:hover {
  background-color: lightgray;
  transform: scale(1.02);
}
@media screen and (max-width: 1080px) {
  .video.main {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid lightgrey;
    box-shadow: #64646f33 0px 7px 29px 0px;
    cursor: pointer;
    transition: all 250ms;
  }
}
.img {
  width: 40%;
  height: 100%;
}
.description {
  width: 60%;
  padding-left: 1rem;
}
.title {
  font-size: large;
  font-weight: 700;
}
.channelTitle {
  color: darkgray;
}
